.elevationprofile
{
    /* height: 30vh; */
    width: 35vw;
    margin-top: 2vw;
    /* margin-left: 6vw; */
    margin-right: 5vw;
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
    border-radius: 5px;
    overflow: hidden;

}


.distance-info {
    margin-left: 3vw;
    margin-top: 1vw;
}

.simulate-info {
    font-size: 2vw;
    margin-bottom: 2vw;
}

.gpx-upload-button {
    margin-top: 2vw;
}

.info-chips {
    margin-right: 0.5vw;
    margin-top: 0.5vw;
}

.simulate-info-or {
    font-size: 2vw;
    margin-top: 2vw;
}

.race-selector {
    margin: 1vw;
}

.file-uploader {
    margin: 1vw;
}