.elevationprofile
{
    /* height: 30vh; */
    width: 50vw;
    margin-top: 2vw;
    /* margin-left: 6vw; */
    margin-right: 0vw;
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
    border-radius: 5px;
    overflow: hidden;

}


.distance-info {
    margin-left: 3vw;
    margin-top: 1vw;
}

.simulate-info {
    font-size: 2vw;
    margin-bottom: 2vw;
}

.gpx-upload-button {
    margin-top: 2vw;
}

.info-chips {
    margin-right: 0.5vw;
    margin-top: 0.5vw;
}

.simulate-info-or {
    font-size: 2vw;
    margin-top: 2vw;
}

.race-selector {
    margin: 1vw;
}

.file-uploader {
    margin: 1vw;
}


.gpx-bt-parent {
    margin-left: 3vw;
    margin-top: 1vw;
}

.gpx-bt {
    margin-right: 1vw;
}

.listbox-wrapper-gpx-search {
    max-height: 25vh; /* Adjust the height as needed */
    overflow-y: auto;
    overflow-x: scroll;

    width: 28vw;
    background-color: white;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 1vw;
    margin-left: 3vw;
  }

.listbox-wrapper-gpx-analysis {
    max-height: 25vh; /* Adjust the height as needed */
    overflow-y: auto;
    overflow-x: scroll;

    width: 28vw;
    background-color: white;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 1vw;
    margin-left: 3vw;
  }

  .info-chips-gpx-analysis {
    margin: 0.2vw;
}

.listbox-wrapper-gpx-analysis-trails {
    max-height: 25vh; /* Adjust the height as needed */
    overflow-y: auto;
    width: 25vw;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 1vw;
    margin-left: 1vw;
  }
