.searcharea {
    margin-top: 4vw;
}
.search-parent
{
    width: 20vw;
    background-color: rgba(255, 255, 255, 1);
    margin-right: 5vw;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 2vw;

}

.search-heading {
    font-size: 1.2vw;
    color: rgb(47, 46, 46);
    margin: 1vw;
    padding-top: 1vw;
}

.distance-slider-parent {
    margin: 1vw;
}

.search-button{
    margin: 1vw;
    padding-bottom: 1vw;
}

.listbox-wrapper {
    max-height: 30vh; /* Adjust the height as needed */
    overflow-y: auto;
    width: 20vw;
    background-color: white;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  